<html>
<head>
  <title>VacScan - Vaccine Scanner by Kevin</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
  <div id = "header">
    <h1>VacScan</h1>
    <h2>Scan of: {{ scan.Location }}</h2>
    <h4>Last Updated: {{ scan.Timestamp }} (updated every 2min)
      <button type="button" onclick="forceRefresh()">Refresh</button></h4>
    </div>
    <div id = "search">
      <h1>Search:</h1>
      <h3>State (required):
        <select id="state-picker">
          <option value="AL">AL</option>
          <option value="AK">AK</option>
          <option value="AR">AR</option>  
          <option value="AZ">AZ</option>
          <option value="CA">CA</option>
          <option value="CO">CO</option>
          <option value="CT">CT</option>
          <option value="DC">DC</option>
          <option value="DE">DE</option>
          <option value="FL">FL</option>
          <option value="GA">GA</option>
          <option value="HI">HI</option>
          <option value="IA">IA</option>  
          <option value="ID">ID</option>
          <option value="IL">IL</option>
          <option value="IN">IN</option>
          <option value="KS">KS</option>
          <option value="KY">KY</option>
          <option value="LA">LA</option>
          <option value="MA">MA</option>
          <option value="MD">MD</option>
          <option value="ME">ME</option>
          <option value="MI">MI</option>
          <option value="MN">MN</option>
          <option value="MO">MO</option>  
          <option value="MS">MS</option>
          <option value="MT">MT</option>
          <option value="NC">NC</option>  
          <option value="NE">NE</option>
          <option value="NH">NH</option>
          <option value="NJ">NJ</option>
          <option value="NM">NM</option>      
          <option value="NV">NV</option>
          <option value="NY">NY</option>
          <option value="ND">ND</option>
          <option value="OH">OH</option>
          <option value="OK">OK</option>
          <option value="OR">OR</option>
          <option value="PA">PA</option>
          <option value="RI">RI</option>
          <option value="SC">SC</option>
          <option value="SD">SD</option>
          <option value="TN">TN</option>
          <option value="TX">TX</option>
          <option value="UT">UT</option>
          <option value="VT">VT</option>
          <option value="VA">VA</option>
          <option value="WA">WA</option>
          <option value="WI">WI</option>  
          <option value="WV">WV</option>
          <option value="WY">WY</option>
        </select>
      </h3>
      <h4>City or Zip (optional): <input type="text" id="city-input" placeholder="City/zip (comma separated)"/></h4>
      <fieldset>
        <div id="dose-select">
            <label for="first-dose">First Dose <input type="radio" id="first-dose" name="dose" value="first"></label>
            <label for="second-dose">Second Dose  <input type="radio" id="second-dose" name="dose" value="second"></label>
        </div>
      </fieldset>
      <button type="button" onclick="searchState()">Search</button> <button id="myBtn">Tips / Help</button>
      <input type="checkbox" id="show-json" onclick="toggleJsonResponses()"> Show CVS dev data
      <p><i>Allow ~1 second per city searched, ~10sec for a state search.</i></p>
      <p><i>If state search shows no results, try a zomma separated list of zip codes near you.</i></p> 
      <p><i>CVS is weird about updating their state listings.</i></p>
    </div>
    <ul id="results">
      {% if not scan.Data.Data %}
      <li class="tile">
        <p class="location">No appointments found. Try another search.</p>
      </li>
      {% endif %}  
      {% for entry in scan.Data.Data %}
      <li class="tile">
        {% if entry["Success"] %}
        <p class="location"> {{ entry["Address"] }}</p>
        <p class="vaccine"> {{ entry["Vaccine"] }} 
          {% if scan.Dose == "first" %}
            [<a href="https://www.cvs.com/vaccine/intake/store/cvd-store-select/first-dose-select" target="_blank" rel="noopener noreferrer">Sign up</a>]
          {% else %}
            [<a href="https://www.cvs.com/vaccine/intake/store/cvd/first-dose-info" target="_blank" rel="noopener noreferrer">Sign up</a>]
          {% endif %}
        </p>
        <div class="dates">
          <p>Available Dates:</p>
          <ul>
            {% for date in entry.Dates %}
            <li> {{ date }}</li>
            {% endfor %}
          </ul>
          <div class="times">
            <p>Earliest Slots:</p>
            {% for timeEntry in entry.Times %}
              <p> {{timeEntry.Date}} </p>
              {% if not timeEntry.Times %}
                <p><i>No times found. Check on CVS website, might be a bug on their end.</i></p>
              {% endif %}
              <ul>
                {% for time in timeEntry.Times %}
                <li> {{ time }}</li>
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        </div>
        {% else %}
        <p class="location"> {{ entry.Reason }}</p>
        <pre class="response-json">{{ entry.Response }}</pre>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    <footer>
      <!-- Trigger/Open The Modal -->

      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>If state search shows no results, try searching comma-separated zip codes near you.</p>
          <p>In the "city" input just write "44022,44862,44890,45065" for example.</p>
          <p>For best results, only use ~10 zips, and choose numbers near your zip code.</p>
          <table>
            <tr><th class="state-td">State</th><th>Zip Codes</th></tr>
            <tr><td class="state-td">OH</td><td>43014,43018,43041,43044,43066,43149,43153,43155,43160,43164,43226,43307,43333,43334,43345,43420,43432,43438,43506,43516,43551,43556,43558,43620,43720,43725,43756,43764,43786,43788,43805,43907,43909,43938,44022,44044,44046,44093,44095,44193,44224,44260,44274,44424,44492,44512,44628,44657,44671,44675,44677,44804,44815,44833,44838,44849,44862,44890,45065,45069,45131,45148,45155,45245,45250,45311,45312,45362,45387,45481,45506,45621,45673,45674,45680,45682,45690,45693,45695,45746,45764,45772,45819,45822,45830,45845,45854,45855,45874</td></tr>
            <tr><td class="state-td">MA</td><td>01059,01115,01203,01378,01537,01812,01887,02093,02151,02554,02575,02642,02717,02738</td></tr>
            <tr><td class="state-td">RI</td><td>02809,02887,02801,02815,02874</td></tr>
            <tr><td class="state-td">CT</td><td>06897,06180,06057,06442,06512,06249,06076,06239</td></tr>
            <tr><td class="state-td">NY</td><td>10924,10109,10314,10454,10553,10579,10986,11220,11405,11558,11960,12017,12043,12082,12095,12164,12205,12304,12429,12438,12454,12553,12574,12732,12828,12833,12836,12945,12960,12978,13035,13040,13068,13113,13132,13159,13338,13339,13415,13420,13473,13611,13662,13730,13743,13904,14037,14040,14063,14109,14221,14475,14477,14521,14556,14589,14664,14708,14783,14810,14824,14838,14857</td></tr>
          </table>
        </div>

      </div>

    </footer>
  </body>
  <script>

    window.onload = function(){
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const state = urlParams.get("state");
      const city = urlParams.get("city");
      var dose = urlParams.get("dose");
      if (state) {
        document.getElementById('state-picker').value = state;
      }
      if (city) {
        document.getElementById('city-input').value = city;
      }
      if (!dose) {
        dose = "first";
      }
      setRadioButtonValue(dose);
      toggleJsonResponses();
    };

    function forceRefresh() {
      var url = window.location.href;
      if (url.indexOf("forceRefresh") == -1) {
        if (url.indexOf('?') > -1){
         url += '&forceRefresh=1'
       }else{
         url += '?forceRefresh=1'
       }
     }   
     window.location.href = url;
   }

   function searchState() {
    var state = document.getElementById('state-picker').value;
    var city = document.getElementById('city-input').value;
    var dose = getRadioButtonValue();
    var kind = city ? "city" : "state";
    var query = '?kind=' + kind + '&state=' + state + 
                                  (city ? "&city="+city : "") + 
                                  (dose=="second" ? ("&dose="+dose) : "");
   // /scan?kind=state&state=OH&debug=1
   window.location = '/scan' + query;
  }

/* Radio button */
function getRadioButtonValue() {
  var radios = document.getElementsByName('dose');
  for (var i = 0, length = radios.length; i < length; i++) {
    if (radios[i].checked) {
      return radios[i].value;
    }
  }
  return "first"; // default
}
function setRadioButtonValue(dose) {
  var radios = document.getElementsByName('dose');
  for (var i = 0, length = radios.length; i < length; i++) {
    if (radios[i].value == dose) {
      radios[i].checked = true;
      return;
    }
  }
}


/*MODAL*/
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

/* JSON Responses */
function toggleJsonResponses() {
  // Get the checkbox
  var checkBox = document.getElementById("show-json");
  // Get the output text
  var results = document.getElementsByClassName("response-json");
  for (var i = 0; i < results.length; i++) {
    text = results.item(i);
   if (checkBox.checked == true){
    text.style.display = "block";
  } else {
    text.style.display = "none";
  }
}

}
</script>
</html>